<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<body>

<caption>
  <h2 style="text-align: center">Add New Employee</h2>
</caption>
<form >
  <div class="menu container">
    <div class="row">
      <div class="col-12">
        <div class="col-12" style="margin-top: 28px">
          <table class="table table-striped">
            <tr>
              <th>Employee ID:</th>

              <td>
                <input type="text" class="input-group-text" id="id" size="45" />
<!--                <span style="color: red" th:if="${#fields.hasErrors('employeeId')}" th:errors="*{employeeId}"></span>-->
              </td>
            </tr>
            <tr>
              <th>Employee Name:</th>
              <td>
                <input type="text" class="input-group-text" id="name" size="100px" />
              </td>
            </tr>
            <tr>
              <th>Employee Birthday:</th>
              <td>
                <input type="date" class="input-group-text"  id="birthday" size="100px"/>
              </td>
            </tr>
            <tr>
              <th>Employee ID Card:</th>
              <td>
                <input type="text" class="input-group-text" id="idCard" size="100px"/>
              </td>
            </tr>
            <tr>
              <th>Employee Salary:</th>
              <td>
                <input type="text" class="input-group-text" id="salary" size="100px"/>
<!--                <span style="color:red;" th:if="${#fields.hasErrors('employeeSalary')}" th:errors="*{employeeSalary}"></span>-->
              </td>
            </tr>
            <tr>
              <th>Employee Phone:</th>
              <td>
                <input type="text" class="input-group-text" id="Phone" size="100px" />
<!--                <span style="color:red;" th:if="${#fields.hasErrors('employeePhone')}" th:errors="*{employeePhone}"></span>-->
              </td>
            </tr>
            <tr>
              <th>Employee Email:</th>
              <td>
                <input type="text" class="input-group-text" id="email" size="100px" />
<!--                <span style="color:red;" th:if="${#fields.hasErrors('employeeEmail')}" th:errors="*{employeeEmail}"></span>-->
              </td>
            </tr>
            <tr>
              <th>Employee Address:</th>
              <td>
                <input type="text" class="input-group-text" id="address" size="100px" />
              </td>
            </tr>
            <tr>
              <th>Division ID:</th>
              <td>
                <input type="text" class="input-group-text" id="division" size="100px" />
              </td>
            </tr>
            <tr>
              <th>Position ID:</th>
              <td>
                <input type="text" class="input-group-text" id="position" size="100px"/>
              </td>
            </tr>
            <tr>
              <th>Education Degree Id:</th>
              <td>
                <input type="text" class="input-group-text" id="educationDegree" size="100px" />
              </td>
            </tr>
            <tr>
              <td colspan="2" align="center">
                <input type="submit" value="Save" class="btn btn-primary"/>
                <button class="btn btn-primary"><a style="color: white" > Employee List</a></button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>

</body>
