#main{
    font-family: Arial;
}
#head{
    background: blue;
    height: 100px;
    width: 100%;
}
#head-link{
    background: #33b5e5;
    height: 50px;
    width: 100%;
}
#left{
    background: #9933cc;
    float: left;
    height: 400px;
    width: 20%;
}
#content{
    background: red;
    float: left;
    height: 400px;
    width: 60%;
}
#right{
    background: #0099cc;
    float: left;
    height: 400px;
    width: 20%;
}
#bottom{
    background: green;
    height: 200px;
    width: 100%;
    clear: both;
}