<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="~{/common/layout::header}">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add New</title>-->
<!--</head>-->
<!--<body>-->
<!--<caption>-->
<!--    <h2 style="text-align: center">Add New</h2>-->
<!--</caption>-->
<!--<form  th:method="post" th:action="@{/product/save}" th:object="${product}">-->
<!--    <div class="menu container">-->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="col-12" style="margin-top: 28px">-->
<!--                    <table class="table table-striped">-->
<!--                        <tr>-->
<!--                            <th>Product ID:</th>-->
<!--                            <td>-->
<!--                                <input type="text" class="input-group-text" id="id" size="100px"-->
<!--                                       th:field="*{productId}"/>-->
<!--                                <span style="color: red" th:if="${#fields.hasErrors('productId')}" th:errors="*{productId}"></span>-->
<!--                            </td>-->
<!--                            &lt;!&ndash;                            <td>&ndash;&gt;-->
<!--                            &lt;!&ndash;                                <p style="color: red" th:value="${message}"></p>&ndash;&gt;-->
<!--                            &lt;!&ndash;                            </td>&ndash;&gt;-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>Product Name:</th>-->
<!--                            <td>-->
<!--                                <input type="text" class="input-group-text" id="type_id" size="100px"-->
<!--                                       th:field="*{productName}"/>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>Product Price:</th>-->
<!--                            <td>-->
<!--                                <input type="text" class="input-group-text" id="name" size="100px"-->
<!--                                       th:field="*{price}"/>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            &lt;!&ndash;                <p style="color: red">&ndash;&gt;-->
<!--                            &lt;!&ndash;                    <c:out value="${message1}"></c:out>&ndash;&gt;-->
<!--                            &lt;!&ndash;                </p>&ndash;&gt;-->
<!--                            <th>Contract Deposit:</th>-->
<!--                            <td>-->
<!--                                <input type="text" class="input-group-text"  id="birthday" size="100px"-->
<!--                                       th:field="*{quantity}"/>-->
<!--                            </td>-->
<!--                        </tr><tr>-->
<!--                        <th>Product Color:</th>-->
<!--                        <td>-->
<!--                            <input type="text" class="input-group-text"  id="total" size="100px"-->
<!--                                   th:field="*{color}"/>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                        <tr>-->
<!--                            <th>Description :</th>-->
<!--                            <td>-->
<!--                                <input type="text" class="input-group-text"  id="description" size="100px"-->
<!--                                       th:field="*{description}"/>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>Category :</th>-->
<!--                            <td>-->
<!--                                <select class="custom-select" th:field="*{category}">-->
<!--                                    <option th:each="category: ${listCateGory}" th:text="${category.name}" th:value="${category.id}"></option>-->
<!--                                </select>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td colspan="2" align="center">-->
<!--                                <input type="submit" value="Save" class="btn btn-primary" />-->
<!--                                <button class="btn btn-primary" ><a th:href="@{/product}" style="color: white">List</a></button>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->