<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/common/layout::header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{/common/layout::head}"></div>
<h1 style="text-align: center">List Product</h1>
<span style="color: red;float: right;font-size: 20px" th:text="${success}"></span>

<!--modal-->

<a>
    <button type="submit" class="btn btn-outline-primary" data-toggle="modal" data-target="#addNew"><i
            class="fas fa-user-plus"></i> Add New
    </button>
</a>

<!--end-->

<!--<a th:href="@{/product/create}">-->
<!--    <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus"></i> Add New </button>-->
<!--</a>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <form>
            <table id="tableStudent" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Product ID:</th>
                    <th>Product Name:</th>
                    <th>Price :</th>
                    <th>Quantity:</th>
                    <th>Color:</th>
                    <th>Description:</th>
                    <th>Category:</th>
                    <th>action:</th>
                    <th>action:</th>
                    <th><a><i class="fas fa-trash" data-toggle="modal"
                              data-target="#delSelect"></i>
                    </a> Select all <input type="checkbox" name="foo" value="bar1" id="select_all"><br/>
                        :
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${listProduct}">
                    <td th:text="${product.productId}"></td>
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.quantity}"></td>
                    <td th:text="${product.color}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.category.name}"></td>
                    <td>
                        <!--                        Modal-->
                        <a href="" data-toggle="modal" data-target="#darkModalForm" class="btn btn-dark" id="update">
                            <span class="update"
                                  th:data-id="${product.productId}"
                                  th:data-name="${product.productName}"
                                  th:data-price="${product.price}"
                                  th:data-quantity="${product.quantity}"
                                  th:data-color="${product.color}"
                                  th:data-description="${product.description}"
                                  th:data-category="${product.category.getName()}"
                            ><i class="fas fa-edit"></i></span></a>
                        <!--                        END-->


                        <!--                        <a th:href="@{/product/update/{id}(id=${product.productId})}">-->
                        <!--                            <button class="btn btn-dark"><i-->
                        <!--                                    class="fas fa-edit"></i></button>-->
                        <!--                        </a>-->
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                th:data-target="'#del'+${product.productId}">
                            <i class="fas fa-trash"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" th:id="'del'+${product.productId}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Do you want delete?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Customer : <span th:text="${product.productName}"></span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <a th:href="@{/product/delete/{id}(id=${product.productId})}">
                                            <button type="button" class="btn btn-primary">Delete</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <input type="checkbox" th:name="select" th:value="${product.productId}">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="modal fade" id="delSelect" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1">Do you want delete?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Do you want delete all checkbox??
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                            </button>
                                <button type="submit" class="btn btn-primary" formaction="/product/deleteSelect">Delete all</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>

            <div>
                <a th:href="@{'/product'(page=${listProduct.number - 1})}"
                   th:if="${listProduct.hasPrevious()}">Previous</a>
                <span th:text="${listProduct.number + 1}"></span>/<span th:text="${listProduct.totalPages}"></span>
                <a th:href="@{'/product'(page=${listProduct.number + 1})}" th:if="${listProduct.hasNext()}">Next</a>
            </div>
        </div>
    </div>
</div>

<div th:if="${product}">
    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <!--Content-->
            <div class="modal-content form-elegant">
                <!--Header-->
                <div class="modal-header text-center">
                    <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" id="myModalLabel"
                        style="color: darkblue"><strong>Add New</strong></h3>
                    <!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--                        <span aria-hidden="true">&times;</span>-->
                    <!--                    </button>-->
                </div>
                <!--Body-->
                <div class="modal-body" style="text-align:center">
                    <!--Body-->
                    <form th:object="${product}" th:action="@{/product/save}" method="post">
                        <input type="hidden" id="valid" th:value="${#fields.hasErrors()}">
                        <div class="row">
                            <div class="col-xl-1"></div>
                            <div class="row col-xl-10">
                                <div class="col-xl-5">
                                    <div class="form-group">
                                        <label>Product ID:</label>
                                        <input type="text" th:field="*{productId}"
                                               class="form-control"
                                               placeholder="Example: SP-1234">
                                        <span style="color: red" th:field="*{#fields.hasErrors('productId')}"
                                              th:errors="*{productId}"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="nameAdd">Product Name :</label>
                                        <input type="text" th:field="*{productName}" class="form-control" id="nameAdd">
                                        <!--                                    <span style="color: red" th:field="*{#fields.hasErrors('customerName')}"-->
                                        <!--                                          th:errors="*{customerName}"></span>-->
                                    </div>
                                    <div class="form-group">
                                        <label for="priceAdd">Product Price :</label>
                                        <input type="text" th:field="*{price}" class="form-control"
                                               id="priceAdd">
                                        <span style="color: red" th:field="*{#fields.hasErrors('price')}"
                                              th:errors="*{price}"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="colorAdd">Color :</label>
                                        <input type="text" th:field="*{color}" class="form-control"
                                               id="colorAdd">
                                        <!--                                    <span style="color: red" th:field="*{#fields.hasErrors('customerBirthday')}"-->
                                        <!--                                          th:errors="*{customerBirthday}"></span>-->
                                    </div>
                                </div>
                                <div class="col-xl-2"></div>
                                <div class="col-xl-5">
                                    <div class="form-group">
                                        <label for="quantityAdd">Quantity :</label>
                                        <input type="text" th:field="*{quantity}" class="form-control" id="quantityAdd">
                                        <!--                                    <span style="color: red" th:field="*{#fields.hasErrors('customerIdCard')}"-->
                                        <!--                                          th:errors="*{customerIdCard}"></span>-->
                                    </div>
                                    <div class="form-group">
                                        <label for="descriptionAdd">Description :</label>
                                        <input type="text" th:field="*{description}" class="form-control"
                                               id="descriptionAdd">
                                        <!--                                           placeholder="Example: (090|091)XXXXXXX">-->
                                        <!--                                    <span style="color: red" th:field="*{#fields.hasErrors('customerPhone')}"-->
                                        <!--                                          th:errors="*{customerPhone}"></span>-->
                                    </div>
                                    <div class="form-group">
                                        <label for="typeId">Type Customer :</label><br>
                                        <select id="typeId" th:field="*{category}" style="width: 100%; height: 37px">
                                            <option th:each="category : ${listCateGory}" th:value="${category.id}"
                                                    th:text="${category.name}"></option>
                                        </select>
                                    </div>
                                    <!--                                <div class="form-group">-->
                                    <!--                                    <label for="email">Email Customer :</label>-->
                                    <!--                                    <input type="text" th:field="*{customerEmail}" class="form-control" id="email">-->
                                    <!--                                    <span style="color: red" th:field="*{#fields.hasErrors('customerEmail')}"-->
                                    <!--                                          th:errors="*{customerEmail}"></span>-->
                                    <!--                                </div>-->
                                    <div style="padding-top:11px">
                                        <br>
                                        <input class="btn btn-danger" style="width: 80px;float: left" type="submit"
                                               role="button"
                                               value="Save">
                                        <a role="button" th:href="@{/product}" class="btn btn-success"
                                           style="width: 80px;float: right">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-1"></div>
                    </form>
                    <!--Footer-->
                    <div class="modal-footer mx-5 pt-3 mb-1 text-center">
                        <h4 class="font-small grey-text d-flex justify-content-end"></h4>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div th:if="${product2}">
    <div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <!--Content-->
            <div class="modal-content form-elegant">
                <!--Header-->
                <div class="modal-header text-center">
                    <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" id="myModalLabel1"
                        style="color: darkblue"><strong>Edit Product</strong></h3>
                    <!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--                        <span aria-hidden="true">&times;</span>-->
                    <!--                    </button>-->
                </div>
                <!--Body-->
                <div class="modal-body" style="text-align:center">
                    <!--Body-->
                    <form th:object="${product2}" th:action="@{/product/edit}" method="post">
                        <input type="hidden" id="validEdit" th:value="${#fields.hasErrors()}">
                        <div class="row">
                            <div class="col-xl-1"></div>
                            <div class="row col-xl-10">
                                <div class="col-xl-5">
                                    <div class="form-group">
                                        <label>Product ID:</label>
                                        <input type="text" id="productId" th:field="*{productId}"
                                               class="form-control">
                                        <span style="color: red" th:field="*{#fields.hasErrors('productId')}"
                                              th:errors="*{productId}"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Product Name :</label>
                                        <input type="text" id="productName" th:field="*{productName}"
                                               class="form-control">
                                        <!--                                    <span style="color: red" th:field="*{#fields.hasErrors('customerName')}"-->
                                        <!--                                          th:errors="*{customerName}"></span>-->
                                    </div>
                                    <div class="form-group">
                                        <label for="price">Product Price :</label>
                                        <input type="text" th:field="*{price}" class="form-control"
                                               id="price">
                                        <!--                                        <span style="color: red" th:field="*{#fields.hasErrors('price')}"-->
                                        <!--                                              th:errors="*{price}"></span>-->
                                    </div>
                                    <div class="form-group">
                                        <label for="colorAdd">Color :</label>
                                        <input type="text" th:field="*{color}" class="form-control"
                                               id="color">
                                        <!--                                    <span style="color: red" th:field="*{#fields.hasErrors('customerBirthday')}"-->
                                        <!--                                          th:errors="*{customerBirthday}"></span>-->
                                    </div>
                                </div>
                                <div class="col-xl-2"></div>
                                <div class="col-xl-5">
                                    <div class="form-group">
                                        <label for="quantity">Quantity :</label>
                                        <input type="text" th:field="*{quantity}" class="form-control" id="quantity">
                                        <!--                                    <span style="color: red" th:field="*{#fields.hasErrors('customerIdCard')}"-->
                                        <!--                                          th:errors="*{customerIdCard}"></span>-->
                                    </div>
                                    <div class="form-group">
                                        <label for="descriptionAdd">Description :</label>
                                        <input type="text" th:field="*{description}" class="form-control"
                                               id="description">
                                        <!--                                           placeholder="Example: (090|091)XXXXXXX">-->
                                        <!--                                    <span style="color: red" th:field="*{#fields.hasErrors('customerPhone')}"-->
                                        <!--                                          th:errors="*{customerPhone}"></span>-->
                                    </div>
                                    <div class="form-group">
                                        <label for="typeId">Type Customer :</label><br>
                                        <select id="category" th:field="*{category}" style="width: 100%; height: 37px">
                                            <option th:each="category : ${listCateGory}" th:value="${category.id}"
                                                    th:text="${category.name}"></option>
                                        </select>
                                    </div>
                                    <!--                                <div class="form-group">-->
                                    <!--                                    <label for="email">Email Customer :</label>-->
                                    <!--                                    <input type="text" th:field="*{customerEmail}" class="form-control" id="email">-->
                                    <!--                                    <span style="color: red" th:field="*{#fields.hasErrors('customerEmail')}"-->
                                    <!--                                          th:errors="*{customerEmail}"></span>-->
                                    <!--                                </div>-->
                                    <div style="padding-top:11px">
                                        <br>
                                        <input class="btn btn-danger" style="width: 80px;float: left" type="submit"
                                               role="button"
                                               value="Save">
                                        <a role="button" th:href="@{/product}" class="btn btn-success"
                                           style="width: 80px;float: right">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-1"></div>
                    </form>
                    <!--Footer-->
                    <div class="modal-footer mx-5 pt-3 mb-1 text-center">
                        <h4 class="font-small grey-text d-flex justify-content-end"></h4>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
    </div>
</div>
<!--End Modal-->
</body>
<footer th:replace="~{/common/layout::footer}"></footer>
<script>
    $(".update").click(function () {
        $("#darkModalForm input[id='productId']").val($(this).data("id"));
        $("#darkModalForm input[id='productName']").val($(this).data("name"));
        $("#darkModalForm input[id='price']").val($(this).data("price"));
        $("#darkModalForm input[id='quantity']").val($(this).data("quantity"));
        $("#darkModalForm input[id='color']").val($(this).data("color"));
        $("#darkModalForm input[id='description']").val($(this).data("description"));
        var category = $(this).data("category");
        $("#darkModalForm select[id='category'] option").each(function () {
            console.log(this.value);
            if (this.value === category) {
                $(this).prop("selected", "true");
                return;
            }
        })
    })
</script>
<script>

    if ($("#valid").val() === 'true') {
        $("#addNew").modal("show");
    }
    if ($("#validEdit").val() === 'true') {
        $("#darkModalForm").modal("show");
    }
</script>
<!--<script>-->
<!--    function callModal1(id) {-->
<!--        document.getElementById("modalDelete").href = "/product/deleteConfirm/" + id;-->
<!--        document.getElementById("productName1").innerHTML = id;-->
<!--    }-->
<!--</script>-->
<script>
    $('#select_all').click(function(event) {
        if(this.checked) {
// Iterate each checkbox
            $(':checkbox').each(function() {
                this.checked = true;
            });
        }
        else {
            $(':checkbox').each(function() {
                this.checked = false;
            });
        }
    });
</script>

</html>