<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/common/layout::header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<caption>
    <h2 style="text-align: center">Add New Employee</h2>
</caption>
<form  th:method="post" th:action="@{/employee/edit}">
    <div class="menu container">
        <div class="row">
            <div class="col-12">
                <div class="col-12" style="margin-top: 28px">
                    <table class="table table-striped">
                        <tr>
                            <th>Employee ID:</th>

                            <td>
                                <input type="text" class="input-group-text" id="id" size="45" th:field="*{employee.employeeId}"/>
                            </td>
<!--                            <td>-->
<!--                                <p style="color: red" th:value="${message}"></p>-->
<!--                            </td>-->
                        </tr>
                        <tr>
                            <th>Employee Name:</th>
                            <td>
                                <input type="text" class="input-group-text" id="name" size="45" th:field="*{employee.employeeName}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Employee Birthday:</th>
                            <td>
                                <input type="date" class="input-group-text"  id="birthday" size="45" th:field="*{employee.employeeBirthday}"/>
                            </td>
                        </tr>
                        <tr>
                            <!--                <p style="color: red">-->
                            <!--                    <c:out value="${message1}"></c:out>-->
                            <!--                </p>-->
                            <th>Employee ID Card:</th>
                            <td>
                                <input type="text" class="input-group-text" id="idCard" size="45" th:field="*{employee.employeeIdCard}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Employee Salary:</th>
                            <td>
                                <input type="text" class="input-group-text" id="salary" size="45" th:field="*{employee.employeeSalary}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Employee Phone:</th>
                            <!--                <p style="color: red">-->
                            <!--                    <c:out value="${message2}"></c:out>-->
                            <!--                </p>-->
                            <td>
                                <input type="text" class="input-group-text" id="Phone" size="45" th:field="*{employee.employeePhone}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Employee Email:</th>
                            <!--                <p style="color: red">-->
                            <!--                    <c:out value="${message1}"></c:out>-->
                            <!--                </p>-->
                            <td>
                                <input type="text" class="input-group-text" id="email" size="45" th:field="*{employee.employeeEmail}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Employee Address:</th>
                            <!--                <p style="color: red">-->
                            <!--                    <c:out value="${message3}"></c:out>-->
                            <!--                    </p>-->
                            <td>
                                <input type="text" class="input-group-text" id="address" size="45" th:field="*{employee.employeeAddress}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Division ID:</th>
                            <td>
                                <input type="text" class="input-group-text" id="division" size="45" th:field="*{employee.division.divisionId}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Position ID:</th>
                            <td>
                                <input type="text" class="input-group-text" id="position" size="45" th:field="*{employee.position.positionId}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Education Degree Id:</th>
                            <td>
                                <input type="text" class="input-group-text" id="educationDegree" size="45" th:field="*{employee.educationDegree.educationDegreeId}"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <input type="submit" value="Save" class="btn btn-primary"/>
                                <button class="btn btn-primary"><a style="color: white" th:href="@{/employeee}">Employee List</a></button>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</form>
</div>

</body>
</html>